body {
  background-color: #673ab7;
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 1px 1px 0px 0px #6134b0, 2px 2px 0px 0px #6134b0,
    3px 3px 0px 0px #6134b0, 4px 4px 0px 0px #6134b0, 5px 5px 0px 0px #6134b0,
    6px 6px 0px 0px #6134b0, 7px 7px 0px 0px #6134b0, 8px 8px 0px 0px #6134b0,
    9px 9px 0px 0px #6134b0, 10px 10px 0px 0px #6134b0,
    11px 11px 0px 0px #6134b0, 12px 12px 0px 0px #6134b0,
    13px 13px 0px 0px #6134b0, 14px 14px 0px 0px #6134b0,
    15px 15px 0px 0px #6134b0, 16px 16px 0px 0px #6134b0,
    17px 17px 0px 0px #6134b0, 18px 18px 0px 0px #6134b0,
    19px 19px 0px 0px #6134b0, 20px 20px 0px 0px #6134b0,
    21px 21px 0px 0px #6134b0, 22px 22px 0px 0px #6134b0,
    23px 23px 0px 0px #6134b0, 24px 24px 0px 0px #6134b0,
    25px 25px 0px 0px #6134b0, 26px 26px 0px 0px #6134b0,
    27px 27px 0px 0px #6134b0, 28px 28px 0px 0px #6134b0,
    29px 29px 0px 0px #6134b0, 30px 30px 0px 0px #6134b0,
    31px 31px 0px 0px #6134b0, 32px 32px 0px 0px #6134b0,
    33px 33px 0px 0px #6134b0, 34px 34px 0px 0px #6134b0,
    35px 35px 0px 0px #6134b0, 36px 36px 0px 0px #6134b0,
    37px 37px 0px 0px #6134b0, 38px 38px 0px 0px #6134b0,
    39px 39px 0px 0px #6134b0, 40px 40px 0px 0px #6134b0,
    41px 41px 0px 0px #6134b0, 42px 42px 0px 0px #6134b0,
    43px 43px 0px 0px #6134b0, 44px 44px 0px 0px #6134b0,
    45px 45px 0px 0px #6134b0, 46px 46px 0px 0px #6134b0,
    47px 47px 0px 0px #6134b0, 48px 48px 0px 0px #6134b0,
    49px 49px 0px 0px #6134b0, 50px 50px 0px 0px #6134b0,
    51px 51px 0px 0px #6134b0, 52px 52px 0px 0px #6134b0,
    53px 53px 0px 0px #6134b0, 54px 54px 0px 0px #6134b0,
    55px 55px 0px 0px #6134b0, 56px 56px 0px 0px #6134b0,
    57px 57px 0px 0px #6134b0, 58px 58px 0px 0px #6134b0,
    59px 59px 0px 0px #6134b0, 60px 60px 0px 0px #6134b0,
    61px 61px 0px 0px #6134b0, 62px 62px 0px 0px #6134b0,
    63px 63px 0px 0px #6134b0, 64px 64px 0px 0px #6134b0,
    65px 65px 0px 0px #6134b0, 66px 66px 0px 0px #6134b0,
    67px 67px 0px 0px #6134b0, 68px 68px 0px 0px #6134b0,
    69px 69px 0px 0px #6134b0, 70px 70px 0px 0px #6134b0,
    71px 71px 0px 0px #6134b0, 72px 72px 0px 0px #6134b0,
    73px 73px 0px 0px #6134b0, 74px 74px 0px 0px #6134b0,
    75px 75px 0px 0px #6134b0, 76px 76px 0px 0px #6134b0,
    77px 77px 0px 0px #6134b0, 78px 78px 0px 0px #6134b0,
    79px 79px 0px 0px #6134b0, 80px 80px 0px 0px #6134b0,
    81px 81px 0px 0px #6134b0, 82px 82px 0px 0px #6134b0,
    83px 83px 0px 0px #6134b0, 84px 84px 0px 0px #6134b0,
    85px 85px 0px 0px #6134b0, 86px 86px 0px 0px #6134b0,
    87px 87px 0px 0px #6134b0, 88px 88px 0px 0px #6134b0,
    89px 89px 0px 0px #6134b0, 90px 90px 0px 0px #6134b0,
    91px 91px 0px 0px #6134b0, 92px 92px 0px 0px #6134b0,
    93px 93px 0px 0px #6134b0, 94px 94px 0px 0px #6134b0,
    95px 95px 0px 0px #6134b0, 96px 96px 0px 0px #6134b0,
    97px 97px 0px 0px #6134b0, 98px 98px 0px 0px #6134b0,
    99px 99px 0px 0px #6134b0, 100px 100px 0px 0px #6134b0,
    101px 101px 0px 0px #6134b0, 102px 102px 0px 0px #6134b0,
    103px 103px 0px 0px #6134b0, 104px 104px 0px 0px #6134b0,
    105px 105px 0px 0px #6134b0, 106px 106px 0px 0px #6134b0,
    107px 107px 0px 0px #6134b0, 108px 108px 0px 0px #6134b0,
    109px 109px 0px 0px #6134b0, 110px 110px 0px 0px #6134b0,
    111px 111px 0px 0px #6134b0, 112px 112px 0px 0px #6134b0,
    113px 113px 0px 0px #6134b0, 114px 114px 0px 0px #6134b0,
    115px 115px 0px 0px #6134b0, 116px 116px 0px 0px #6134b0,
    117px 117px 0px 0px #6134b0, 118px 118px 0px 0px #6134b0,
    119px 119px 0px 0px #6134b0, 120px 120px 0px 0px #6134b0,
    121px 121px 0px 0px #6134b0, 122px 122px 0px 0px #6134b0,
    123px 123px 0px 0px #6134b0, 124px 124px 0px 0px #6134b0,
    125px 125px 0px 0px #6134b0, 126px 126px 0px 0px #6134b0,
    127px 127px 0px 0px #6134b0, 128px 128px 0px 0px #6134b0,
    129px 129px 0px 0px #6134b0, 130px 130px 0px 0px #6134b0,
    131px 131px 0px 0px #6134b0, 132px 132px 0px 0px #6134b0,
    133px 133px 0px 0px #6134b0, 134px 134px 0px 0px #6134b0,
    135px 135px 0px 0px #6134b0, 136px 136px 0px 0px #6134b0,
    137px 137px 0px 0px #6134b0, 138px 138px 0px 0px #6134b0,
    139px 139px 0px 0px #6134b0, 140px 140px 0px 0px #6134b0,
    141px 141px 0px 0px #6134b0, 142px 142px 0px 0px #6134b0,
    143px 143px 0px 0px #6134b0, 144px 144px 0px 0px #6134b0,
    145px 145px 0px 0px #6134b0, 146px 146px 0px 0px #6134b0,
    147px 147px 0px 0px #6134b0, 148px 148px 0px 0px #6134b0,
    149px 149px 0px 0px #6134b0, 150px 150px 0px 0px #6134b0,
    151px 151px 0px 0px #6134b0, 152px 152px 0px 0px #6134b0,
    153px 153px 0px 0px #6134b0, 154px 154px 0px 0px #6134b0,
    155px 155px 0px 0px #6134b0, 156px 156px 0px 0px #6134b0,
    157px 157px 0px 0px #6134b0, 158px 158px 0px 0px #6134b0,
    159px 159px 0px 0px #6134b0, 160px 160px 0px 0px #6134b0,
    161px 161px 0px 0px #6134b0, 162px 162px 0px 0px #6134b0,
    163px 163px 0px 0px #6134b0, 164px 164px 0px 0px #6134b0,
    165px 165px 0px 0px #6134b0, 166px 166px 0px 0px #6134b0,
    167px 167px 0px 0px #6134b0, 168px 168px 0px 0px #6134b0,
    169px 169px 0px 0px #6134b0, 170px 170px 0px 0px #6134b0,
    171px 171px 0px 0px #6134b0, 172px 172px 0px 0px #6134b0,
    173px 173px 0px 0px #6134b0, 174px 174px 0px 0px #6134b0,
    175px 175px 0px 0px #6134b0, 176px 176px 0px 0px #6134b0,
    177px 177px 0px 0px #6134b0, 178px 178px 0px 0px #6134b0,
    179px 179px 0px 0px #6134b0, 180px 180px 0px 0px #6134b0,
    181px 181px 0px 0px #6134b0, 182px 182px 0px 0px #6134b0,
    183px 183px 0px 0px #6134b0, 184px 184px 0px 0px #6134b0,
    185px 185px 0px 0px #6134b0, 186px 186px 0px 0px #6134b0,
    187px 187px 0px 0px #6134b0, 188px 188px 0px 0px #6134b0,
    189px 189px 0px 0px #6134b0, 190px 190px 0px 0px #6134b0,
    191px 191px 0px 0px #6134b0, 192px 192px 0px 0px #6134b0,
    193px 193px 0px 0px #6134b0, 194px 194px 0px 0px #6134b0,
    195px 195px 0px 0px #6134b0, 196px 196px 0px 0px #6134b0,
    197px 197px 0px 0px #6134b0, 198px 198px 0px 0px #6134b0,
    199px 199px 0px 0px #6134b0, 200px 200px 0px 0px #6134b0,
    201px 201px 0px 0px #6134b0, 202px 202px 0px 0px #6134b0,
    203px 203px 0px 0px #6134b0, 204px 204px 0px 0px #6134b0,
    205px 205px 0px 0px #6134b0, 206px 206px 0px 0px #6134b0,
    207px 207px 0px 0px #6134b0, 208px 208px 0px 0px #6134b0,
    209px 209px 0px 0px #6134b0, 210px 210px 0px 0px #6134b0,
    211px 211px 0px 0px #6134b0, 212px 212px 0px 0px #6134b0,
    213px 213px 0px 0px #6134b0, 214px 214px 0px 0px #6134b0,
    215px 215px 0px 0px #6134b0, 216px 216px 0px 0px #6134b0,
    217px 217px 0px 0px #6134b0, 218px 218px 0px 0px #6134b0,
    219px 219px 0px 0px #6134b0, 220px 220px 0px 0px #6134b0,
    221px 221px 0px 0px #6134b0, 222px 222px 0px 0px #6134b0,
    223px 223px 0px 0px #6134b0, 224px 224px 0px 0px #6134b0,
    225px 225px 0px 0px #6134b0, 226px 226px 0px 0px #6134b0,
    227px 227px 0px 0px #6134b0, 228px 228px 0px 0px #6134b0,
    229px 229px 0px 0px #6134b0, 230px 230px 0px 0px #6134b0,
    231px 231px 0px 0px #6134b0, 232px 232px 0px 0px #6134b0,
    233px 233px 0px 0px #6134b0, 234px 234px 0px 0px #6134b0,
    235px 235px 0px 0px #6134b0, 236px 236px 0px 0px #6134b0,
    237px 237px 0px 0px #6134b0, 238px 238px 0px 0px #6134b0,
    239px 239px 0px 0px #6134b0, 240px 240px 0px 0px #6134b0,
    241px 241px 0px 0px #6134b0, 242px 242px 0px 0px #6134b0,
    243px 243px 0px 0px #6134b0, 244px 244px 0px 0px #6134b0,
    245px 245px 0px 0px #6134b0, 246px 246px 0px 0px #6134b0,
    247px 247px 0px 0px #6134b0, 248px 248px 0px 0px #6134b0,
    249px 249px 0px 0px #6134b0, 250px 250px 0px 0px #6134b0,
    251px 251px 0px 0px #6134b0, 252px 252px 0px 0px #6134b0,
    253px 253px 0px 0px #6134b0, 254px 254px 0px 0px #6134b0,
    255px 255px 0px 0px #6134b0, 256px 256px 0px 0px #6134b0,
    257px 257px 0px 0px #6134b0, 258px 258px 0px 0px #6134b0,
    259px 259px 0px 0px #6134b0, 260px 260px 0px 0px #6134b0,
    261px 261px 0px 0px #6134b0, 262px 262px 0px 0px #6134b0,
    263px 263px 0px 0px #6134b0, 264px 264px 0px 0px #6134b0,
    265px 265px 0px 0px #6134b0, 266px 266px 0px 0px #6134b0,
    267px 267px 0px 0px #6134b0, 268px 268px 0px 0px #6134b0,
    269px 269px 0px 0px #6134b0, 270px 270px 0px 0px #6134b0,
    271px 271px 0px 0px #6134b0, 272px 272px 0px 0px #6134b0,
    273px 273px 0px 0px #6134b0, 274px 274px 0px 0px #6134b0,
    275px 275px 0px 0px #6134b0, 276px 276px 0px 0px #6134b0,
    277px 277px 0px 0px #6134b0, 278px 278px 0px 0px #6134b0,
    279px 279px 0px 0px #6134b0, 280px 280px 0px 0px #6134b0,
    281px 281px 0px 0px #6134b0, 282px 282px 0px 0px #6134b0,
    283px 283px 0px 0px #6134b0, 284px 284px 0px 0px #6134b0,
    285px 285px 0px 0px #6134b0, 286px 286px 0px 0px #6134b0,
    287px 287px 0px 0px #6134b0, 288px 288px 0px 0px #6134b0,
    289px 289px 0px 0px #6134b0, 290px 290px 0px 0px #6134b0,
    291px 291px 0px 0px #6134b0, 292px 292px 0px 0px #6134b0,
    293px 293px 0px 0px #6134b0, 294px 294px 0px 0px #6134b0,
    295px 295px 0px 0px #6134b0, 296px 296px 0px 0px #6134b0,
    297px 297px 0px 0px #6134b0, 298px 298px 0px 0px #6134b0,
    299px 299px 0px 0px #6134b0, 300px 300px 0px 0px #6134b0,
    301px 301px 0px 0px #6134b0, 302px 302px 0px 0px #6134b0,
    303px 303px 0px 0px #6134b0, 304px 304px 0px 0px #6134b0,
    305px 305px 0px 0px #6134b0, 306px 306px 0px 0px #6134b0,
    307px 307px 0px 0px #6134b0, 308px 308px 0px 0px #6134b0,
    309px 309px 0px 0px #6134b0, 310px 310px 0px 0px #6134b0,
    311px 311px 0px 0px #6134b0, 312px 312px 0px 0px #6134b0,
    313px 313px 0px 0px #6134b0, 314px 314px 0px 0px #6134b0,
    315px 315px 0px 0px #6134b0, 316px 316px 0px 0px #6134b0,
    317px 317px 0px 0px #6134b0, 318px 318px 0px 0px #6134b0,
    319px 319px 0px 0px #6134b0, 320px 320px 0px 0px #6134b0,
    321px 321px 0px 0px #6134b0, 322px 322px 0px 0px #6134b0,
    323px 323px 0px 0px #6134b0, 324px 324px 0px 0px #6134b0,
    325px 325px 0px 0px #6134b0, 326px 326px 0px 0px #6134b0,
    327px 327px 0px 0px #6134b0, 328px 328px 0px 0px #6134b0,
    329px 329px 0px 0px #6134b0, 330px 330px 0px 0px #6134b0,
    331px 331px 0px 0px #6134b0, 332px 332px 0px 0px #6134b0,
    333px 333px 0px 0px #6134b0, 334px 334px 0px 0px #6134b0,
    335px 335px 0px 0px #6134b0, 336px 336px 0px 0px #6134b0,
    337px 337px 0px 0px #6134b0, 338px 338px 0px 0px #6134b0,
    339px 339px 0px 0px #6134b0, 340px 340px 0px 0px #6134b0,
    341px 341px 0px 0px #6134b0, 342px 342px 0px 0px #6134b0,
    343px 343px 0px 0px #6134b0, 344px 344px 0px 0px #6134b0,
    345px 345px 0px 0px #6134b0, 346px 346px 0px 0px #6134b0,
    347px 347px 0px 0px #6134b0, 348px 348px 0px 0px #6134b0,
    349px 349px 0px 0px #6134b0, 350px 350px 0px 0px #6134b0,
    351px 351px 0px 0px #6134b0, 352px 352px 0px 0px #6134b0,
    353px 353px 0px 0px #6134b0, 354px 354px 0px 0px #6134b0,
    355px 355px 0px 0px #6134b0, 356px 356px 0px 0px #6134b0,
    357px 357px 0px 0px #6134b0, 358px 358px 0px 0px #6134b0,
    359px 359px 0px 0px #6134b0, 360px 360px 0px 0px #6134b0,
    361px 361px 0px 0px #6134b0, 362px 362px 0px 0px #6134b0,
    363px 363px 0px 0px #6134b0, 364px 364px 0px 0px #6134b0,
    365px 365px 0px 0px #6134b0, 366px 366px 0px 0px #6134b0,
    367px 367px 0px 0px #6134b0, 368px 368px 0px 0px #6134b0,
    369px 369px 0px 0px #6134b0, 370px 370px 0px 0px #6134b0,
    371px 371px 0px 0px #6134b0, 372px 372px 0px 0px #6134b0,
    373px 373px 0px 0px #6134b0, 374px 374px 0px 0px #6134b0,
    375px 375px 0px 0px #6134b0, 376px 376px 0px 0px #6134b0,
    377px 377px 0px 0px #6134b0, 378px 378px 0px 0px #6134b0,
    379px 379px 0px 0px #6134b0, 380px 380px 0px 0px #6134b0,
    381px 381px 0px 0px #6134b0, 382px 382px 0px 0px #6134b0,
    383px 383px 0px 0px #6134b0, 384px 384px 0px 0px #6134b0,
    385px 385px 0px 0px #6134b0, 386px 386px 0px 0px #6134b0,
    387px 387px 0px 0px #6134b0, 388px 388px 0px 0px #6134b0,
    389px 389px 0px 0px #6134b0, 390px 390px 0px 0px #6134b0,
    391px 391px 0px 0px #6134b0, 392px 392px 0px 0px #6134b0,
    393px 393px 0px 0px #6134b0, 394px 394px 0px 0px #6134b0,
    395px 395px 0px 0px #6134b0, 396px 396px 0px 0px #6134b0,
    397px 397px 0px 0px #6134b0, 398px 398px 0px 0px #6134b0,
    399px 399px 0px 0px #6134b0, 400px 400px 0px 0px #6134b0,
    401px 401px 0px 0px #6134b0, 402px 402px 0px 0px #6134b0,
    403px 403px 0px 0px #6134b0, 404px 404px 0px 0px #6134b0,
    405px 405px 0px 0px #6134b0, 406px 406px 0px 0px #6134b0,
    407px 407px 0px 0px #6134b0, 408px 408px 0px 0px #6134b0,
    409px 409px 0px 0px #6134b0, 410px 410px 0px 0px #6134b0,
    411px 411px 0px 0px #6134b0, 412px 412px 0px 0px #6134b0,
    413px 413px 0px 0px #6134b0, 414px 414px 0px 0px #6134b0,
    415px 415px 0px 0px #6134b0, 416px 416px 0px 0px #6134b0,
    417px 417px 0px 0px #6134b0, 418px 418px 0px 0px #6134b0,
    419px 419px 0px 0px #6134b0, 420px 420px 0px 0px #6134b0,
    421px 421px 0px 0px #6134b0, 422px 422px 0px 0px #6134b0,
    423px 423px 0px 0px #6134b0, 424px 424px 0px 0px #6134b0,
    425px 425px 0px 0px #6134b0, 426px 426px 0px 0px #6134b0,
    427px 427px 0px 0px #6134b0, 428px 428px 0px 0px #6134b0,
    429px 429px 0px 0px #6134b0, 430px 430px 0px 0px #6134b0,
    431px 431px 0px 0px #6134b0, 432px 432px 0px 0px #6134b0,
    433px 433px 0px 0px #6134b0, 434px 434px 0px 0px #6134b0,
    435px 435px 0px 0px #6134b0, 436px 436px 0px 0px #6134b0,
    437px 437px 0px 0px #6134b0, 438px 438px 0px 0px #6134b0,
    439px 439px 0px 0px #6134b0, 440px 440px 0px 0px #6134b0,
    441px 441px 0px 0px #6134b0, 442px 442px 0px 0px #6134b0,
    443px 443px 0px 0px #6134b0, 444px 444px 0px 0px #6134b0,
    445px 445px 0px 0px #6134b0, 446px 446px 0px 0px #6134b0,
    447px 447px 0px 0px #6134b0, 448px 448px 0px 0px #6134b0,
    449px 449px 0px 0px #6134b0, 450px 450px 0px 0px #6134b0,
    451px 451px 0px 0px #6134b0, 452px 452px 0px 0px #6134b0,
    453px 453px 0px 0px #6134b0, 454px 454px 0px 0px #6134b0,
    455px 455px 0px 0px #6134b0, 456px 456px 0px 0px #6134b0,
    457px 457px 0px 0px #6134b0, 458px 458px 0px 0px #6134b0,
    459px 459px 0px 0px #6134b0, 460px 460px 0px 0px #6134b0,
    461px 461px 0px 0px #6134b0, 462px 462px 0px 0px #6134b0,
    463px 463px 0px 0px #6134b0, 464px 464px 0px 0px #6134b0,
    465px 465px 0px 0px #6134b0, 466px 466px 0px 0px #6134b0,
    467px 467px 0px 0px #6134b0, 468px 468px 0px 0px #6134b0,
    469px 469px 0px 0px #6134b0, 470px 470px 0px 0px #6134b0,
    471px 471px 0px 0px #6134b0, 472px 472px 0px 0px #6134b0,
    473px 473px 0px 0px #6134b0, 474px 474px 0px 0px #6134b0,
    475px 475px 0px 0px #6134b0, 476px 476px 0px 0px #6134b0,
    477px 477px 0px 0px #6134b0, 478px 478px 0px 0px #6134b0,
    479px 479px 0px 0px #6134b0, 480px 480px 0px 0px #6134b0,
    481px 481px 0px 0px #6134b0, 482px 482px 0px 0px #6134b0,
    483px 483px 0px 0px #6134b0, 484px 484px 0px 0px #6134b0,
    485px 485px 0px 0px #6134b0, 486px 486px 0px 0px #6134b0,
    487px 487px 0px 0px #6134b0, 488px 488px 0px 0px #6134b0,
    489px 489px 0px 0px #6134b0, 490px 490px 0px 0px #6134b0,
    491px 491px 0px 0px #6134b0, 492px 492px 0px 0px #6134b0,
    493px 493px 0px 0px #6134b0, 494px 494px 0px 0px #6134b0,
    495px 495px 0px 0px #6134b0, 496px 496px 0px 0px #6134b0,
    497px 497px 0px 0px #6134b0, 498px 498px 0px 0px #6134b0,
    499px 499px 0px 0px #6134b0, 500px 500px 0px 0px #6134b0,
    inset 0px 0px 0px 6px #fff;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: white;
  position: absolute;
  top: 50%;
  transform-origin: 100%; /* 이것으로 회전하는 축을 끝에 둘 수 있다. */
  transform: rotate(90deg); /* 12시 방향으로 회전해 시작한다. */
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(
    0.1,
    2.7,
    0.58,
    1
  ); /* 이것으로 시 분 초가 틱 틱 바뀌는 특성을 넣을 수 있다. */
}
